body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: 89vh;
}
.element {
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  width: 90vw;
  height: 80vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forget {
  color: #0071c9;
  font-family: 'Arial';
  font-size: 15px;
  font-weight: bolder;
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid #ccc;
  width: 30vh;
}

.text-center {
  color: #5c5f61;
}

.Paper {
  border: 2.5px solid rgb(42, 123, 189);
  border-radius: 6px;
  width: 24vw;
  height: 7vh;
}

.root {
  padding: '2px 4px';
  display: 'flex';
  align-items: 'center';
  width: 400;
}
.signin {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bolder;
}

.divider {
  padding-top: 50px;
}

.buttonInside {
  position: relative;
  margin-bottom: 0px;
  border: 2.5px solid rgb(42, 123, 189);
  border-radius: 6px;
  width: 330px;
}
.buttonInside2 {
  position: relative;
  margin-bottom: 0px;
  border: 2.5px solid rgb(42, 123, 189);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 330px;
}
#container {
  width: 300px;
}
input {
  height: 40px;
  width: 100%;
  padding-left: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
}
.insideButton {
  position: absolute;
  right: 8px;
  top: 4px;
  border: 0px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  height: 35px;
  width: 35px;
  border-radius: 100%;
  outline: none;
  text-align: center;
  padding: 2px;
}

.colorbutton {
  font-size: 28px;
  color: #999999;
}
.colorbutton2 {
  font-size: 28px;
  color: #999999;
}
.backgroundImage {
  position: fixed;
  left: 30;
  right: 0;
  top: 30%;
  display: block;
  width: 1200px;
  height: 800px;
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(60px);
}
.content {
  position: fixed;
  left: 0;
  right: 0;

  margin-left: 20px;
  margin-right: 20px;
}
.userInput {
  font-size: 17px;
}
.sorry {
  font-size: 32px;
  font-weight: bolder;
  font-family: sans-serif;
}
.cantfind {
  font-family: sans-serif;
  font-weight: bolder;
}
.support {
  color: #0692fd;
}
.return {
  font-family: sans-serif;
  font-weight: bolder;
}

.mobile {
  display: none;
}
@media (max-width: 600px) {
  .mobile {
    display: block;

    /* Add other properties here */
  }
}

.header {
  position: fixed;
  width: 100%;
}

.main-contains {
  position: relative;
}


/*for passcode page*/

input[type='number'] {
  border: none; /* Remove default borders */
  padding: 4px 8px;
  border-radius: 6px; /* Sadly outline does not round! therefore...*/
  outline: none;
}
input[type='number']:focus {
  /* Remove default outline and use border or box-shadow */
  box-shadow: 0 0 0 2px rgb(82, 149, 236); /* Full freedom. (works also with border-radius) */
}
.signin {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bolder;
}
.divider {
  padding-top: 50px;
}

.forget {
  color: #0071c9;
  font-family: 'Arial';
  font-size: 15px;
  font-weight: bolder;
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid #ccc;
  width: 30vh;
}

